*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #042104;
    color:  #00ff0a;
}

header{
    padding: 30px 100px;
    background: #042104;
    animation: animateBg 10s linear infinite;  
    height: 150px; 
}

header .parent{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

header .parent .son1{
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
}

header .parent .menu a{
    font-size: 40px;
    font-weight: normal;
    font-style: none;
    text-decoration: none;
    margin: 13px;
    color: #00ff0a;
}

a{
    text-decoration: none;
}

i{
    color: #00ff0a;
    padding-top: 30px;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
    animation: animateBg 10s linear infinite;
    background: #042104;
    height: 92vh;
}

@keyframes animateBg{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

section .logo{
    border-radius: 50%;
    padding-right: 300px;
}

section .logo img{
    border-radius: 50%;
}

section .about{
    font-size: 34px;
    text-align: right;
    word-spacing: 10px;
    border: 5px black;
}

section .about h1{
    padding: 25px 0;
    text-align: center;
}

section .about h2{
    padding: 25px 0;
    text-align: center;
    word-spacing: 100px;
}